<ul>
  <% @workout.exercises.each do |exercise| %>
    <%= link_to exercise.name, exercise_path(exercise), target: "_blank" %>
    <li>
      <%= image_tag exercise.image, size: "100x100" %>
      <%= exercise.sets_and_reps(@workout) %><br><br>
    </li>
  <%end%>
</ul>