
<!-- <div id="container">
  <img id="image" src="https://media-cldnry.s-nbcnews.com/image/upload/newscms/2017_36/2144546/170905-working-out-group-ac-512p-2144546.jpg">
  <p id="text">
    We believe that being part of a community that has similar goals as you is essential for success.
    Gritty is all about supporting one another and bringing out the best in eachother through workouts.
  </p>
</div> -->

<div class="hero-image">
  <div class="hero-text">
    <h1>Work <br> Harder</h1>
    <h2>Join for free access to workouts</h2>
    <%= button_to "Sign Up", new_user_path, method: "get" %>
  </div>
</div>