<h1>Gritty</h1>
<h2>Just dig deeper</h2>
<br><br><br>

<h2>Mission</h2>
<p>We believe that being part of a community that has similar goals as you is essential for success. <br>
Gritty is all about supporting one another and bringing out the best in eachother through workouts.
</p>