<%=form_tag('/exercises', method: 'get') do %>
  <label for="difficulty">Difficulty:</label>

  <select name="difficulty" id="filter">
    <option value=>  </option>
    <option value="Beginner">Beginner</option>
    <option value="Intermediate">Intermediate</option>
    <option value="Advanced">Advanced</option>
  </select>

  <label for="equipment">Equipment:</label>

  <select name="equipment" id="filter">
    <option value=>  </option>
    <option value="None">None</option>
    <option value="Bench">Bench</option>
    <option value="Dumbbells">Dumbbells</option>
  </select>

  <%= submit_tag("Filter")%>
<% end %>
  

<h1>Exercises</h1>

<%= render 'exercises' %>