<% flash.each do |type, msg| %>
  <div>
  <p class="alert alert-danger w-50 " role="alert"><%= msg %></p>
  </div>
<% end %>

<div >
  <% if @errors %>
    <ul>
    <% @errors.each do |error| %>
      <li class="alert alert-danger w-50" role="alert"><%= error %></li>
    <% end %> 
    </ul>
  <%end%>
</div>